html {
  font-size: 24px;
}
ul {
  list-style: None;
  padding: 0;
}
footer {
  background-color: rgb(61, 9, 104);
}
a {
  color: aliceblue;
  font-style: None;
}
.softwere h2 {
  text-align: center;
}
.pesh {
  text-align: center;
  font-family: poppins;
}
.softwere h2 span {
  color: #00cbb8;
}

.Icontab {
  background-color: #5b72ee;
  width: 4.16rem;
  height: 4.16rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.Iconcal {
  background-color: #00cbb8;
  width: 4.16rem;
  height: 4.16rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.Iconus {
  background-color: #29b9e7;
  width: 4.16rem;
  height: 4.16rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.softwere li {
  width: 28.12rem;
}

.softwere li h3 {
  font-family: poppins;
  font-weight: medium;
  font-size: 1.8rem;
}

span {
  color: #00cbb8;
}
.p_1_d {
  height: 4.83rem;
  width: 27.3rem;
  margin-left: 10.25rem;
  margin-right: 42.45rem;
}
.p_1 {
  font-size: 1.5rem;
}
.p_2_d {
  width: 30.2rem;
  height: 7.2rem;
  margin-left: 10.25rem;
  margin-right: 3rem;
}
.p_2 {
  font-size: 1rem;
}

.img17 {
  width: 29.375rem;
  height: 19.625rem;
  margin-left: 43.45rem;
  margin-right: 7.16rem;
}
