html {
  font-size: 16px;
}
ul {
  list-style: None;
  padding: 0;
}
footer {
  background-color: rgb(61, 9, 104);
}
a {
  color: aliceblue;
  font-style: None;
}
.softwere h2 {
  text-align: center;
}
.pesh {
  text-align: center;
  font-family: poppins;
}
.softwere h2 span {
  color: #00cbb8;
}

.Icontab {
  background-color: #5b72ee;
  width: 4.16rem;
  height: 4.16rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.Iconcal {
  background-color: #00cbb8;
  width: 4.16rem;
  height: 4.16rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.Iconus {
  background-color: #29b9e7;
  width: 4.16rem;
  height: 4.16rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.softwere li {
  width: 28.12rem;
}

.softwere li h3 {
  font-family: poppins;
  font-weight: medium;
  font-size: 1.8rem;
}
